
html.lia-variant-dark {
    --color-highlight-dark: 70,181,185 !important;
    --color-highlight: 107,196,199 !important;
}

svg { background-color: transparent !important; }

html.lia-variant-dark * .lia_header__logo { filter: brightness(200%) !important; }
